:root{
    --grey: #ececec;
    --green: #9fd3c7;
    --blue: #385170;
    --dark-blue: #142d4c;
    --red: #ff9c9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--grey);
}

/* header */
header {
    background-color: var(--blue);
    color: var(--grey);
    font-size: 2rem;
    padding: 2rem 0 3rem 0;
}

/* library */
.library {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

.book-card, .add-card {
    /* border: black 1px solid; */
    height: 20rem;
    background-color: var(--green);
    color: var(--dark-blue);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.book-card {
    justify-content: space-between;
}

.book-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.book-text h2 {
    font-size: 1.8rem;
}

.book-text h3 {
    font-size: 1.3rem;
}

.book-text p {
    font-weight: 500;
}

.book-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-button {
    outline: none;
    border: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 1rem;
    color: var(--dark-blue);
    background-color: var(--grey);
}

.add-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.add-card p {
    font-size: 2rem;
}

/* form */
dialog {
    margin: auto;
    border: none;
    background: var(--green);
    color: var(--dark-blue);
    border-radius: 3rem;
}

form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

form h2 {
    font-size: 2rem;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    /* flex-shrink: 1; */
}

.input {
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    background-color: var(--grey);
    color: var(--dark-blue);
    min-width: 0;
}

.read-label {
    font-size: 1.5rem;
    font-weight: 500;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.checkbox {
    outline: none;
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--grey);
    accent-color: var(--grey);
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.form-button {
    outline: none;
    border: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 1rem;
    color: var(--dark-blue);
    background-color: var(--grey);
    width: 9rem;
}

button:hover, .form-buttons input:hover, .add-card:hover, .checkbox:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.red-button {
    background-color: var(--red);
}

@media (max-width: 400px) {
    :root {
        font-size: 12px;
    }
  }
